/* Colors */

$primary-color:#6db146;
$secondary-color:#004300;
$tertiary-color:#f46500;
$light-color:rgb(221, 221, 221);



/* Typography */
$base-font:'Poppins', sans-serif;




/* Spacing */

// Buttons