:root{
    box-sizing: border-box;
    font-size: .875rem;
}


*,
::after,
::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: $base-font;
}

